<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdfcc.lowcode.mapper.TableMapper">


    <!-- Insert statement for TableData -->
    <insert id="insertTableData" parameterType="com.jdfcc.lowcode.entity.TableData">
        INSERT INTO ${tableName} (columnName, primaryKey, isNullable, type, defaultValue, length, comment)
        VALUES
        <foreach collection="data" item="column" separator=",">
            (#{column.columnName}, #{column.primaryKey}, #{column.isNullable}, #{column.type},
            #{column.defaultValue}, #{column.length}, #{column.comment})
        </foreach>
    </insert>



    <insert id="createTable" parameterType="com.jdfcc.lowcode.entity.TableData">
        CREATE TABLE IF NOT EXISTS ${table.tableName}
        <foreach collection="table.columns" item="column" open="(" close=")" separator=",">
            ${column.columnName}
            ${column.type}
            <if test="column.length != null">
                (#{column.length})
            </if>
            <if test="column.primaryKey">
                PRIMARY KEY
            </if>
            <if test="!column.isNullable">
                NOT NULL
            </if>
            <if test="column.defaultValue!=null">
                DEFAULT #{column.defaultValue}
            </if>
            <if test="column.comment!=null">
                COMMENT #{column.comment}
            </if>
        </foreach>
        <if test="table.engine!=null">
            ENGINE= #{table.engine}
        </if>
        <if test="table.charSet!=null">
            CHARSET= #{table.charSet}
        </if>
    </insert>






</mapper>
